body {
	font-family: Helvetica;
	color: black;
	font-weight: lighter;

	width: 480px;
	height: 690px;
/*
	background-image: linear-gradient(270deg, #FFF 0%, #000 100%);
	background-image: linear-gradient(top, #FF 0%, #000 100%);
*/
	background-image: -webkit-linear-gradient(#000 0%, #FFF 25%, #eee 75%, #000 100%);
}




h1 {
	margin: 10px 20px;
	font-family: fantasy;
	color: silver;
}




p {
	color: red;
	font-family: Arial;

}

li {
	
}